{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}

{% block body %}
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    </style>
    </head>
    <body>
<div class="container">
    <div class="container">

    </div>
    <h3 style="text-align:center">Contact Form</h3>
    
    <div class="container" style="width:35%">
      <form method="POST" action="/contact">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name..">

        <label for="email">Email</label><br>
        <input style="width:100%" type="email" id="email" name="email" placeholder="Your email.." ><br><br>
    
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
          <option value="usa">India</option>
        </select>
    
        <label for="desc">Message</label>
        <textarea id="desc" name="desc" placeholder="Write something.." style="height:200px"></textarea>
    
        <input type="submit" value="Submit">
      </form>
    </div>
</div>
{% endblock body %}